<script>
    var userBootstrap = {
        'dailyAnalysis' : [
            {%- for daily in analysis.dailyAnalysis -%}
            {
                {%- for key in daily recursive -%}
                    {%- if key in ['postRef'] -%}
                    {%- elif key in ['date'] -%}
                    '{{ key }}':{{ daily.JSONTime()|tojson|safe }}{% if not loop.last %},{% endif -%}
                    {%- else -%}
                    '{{ key }}':{{ daily[key]|tojson|safe }}{% if not loop.last %},{% endif -%}
                    {%- endif -%}
                {%- endfor -%}
            }{%- if not loop.last %},{% endif %}
            {%- endfor -%}
        ]
    };
    var postsBootstrap = [
        {%- for post in posts -%}
            {
                'timestamp' : {{ post.JSONTime()|tojson|safe }},
                {%- for key in post recursive -%}
                    {%- if key in ['note', 'timestamp', 'author', 'id'] -%}
                    {%- else -%}
                    '{{ key }}':{{ post[key]|tojson|safe }}{% if not loop.last %},{% endif -%}
                    {%- endif -%}
                {%- endfor -%}
            }{%- if not loop.last %},{% endif %}
        {%- endfor -%}
    ];
</script>