<form class="well form-horizontal" action="" method="post" name="post">
    {{form.csrf_token}}
    {{form.tracking.csrf_token}}
    <div class="control-group{% if form.errors.note %} error{% endif %}">
        <div class="controls">
            {{form.note(cols = 32, rows = 4, autofocus="autofocus", placeholder="Notes", class="span6", maxlength = 10000)}}
            {% for error in form.errors.note %}
                <span class="help-inline">[{{error}}]</span><br>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.errors.tracking %} error{% endif %}">
        <div class="controls">
            {{ form.tracking.weight(size = 20, maxlength = 7, placeholder="Weight", class="span6") }}
            {% for error in form.errors.tracking %}
                <span class="help-inline">[{{error}}]</span><br>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Happy</label>
        <div class="controls">
            {{ form.tracking.happy(type="hidden", value=5) }}
            <div class="ui-slider span6" data-input="tracking-happy">
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Diet</label>
        <div class="controls">
            {{ form.tracking.diet(type="hidden", value=5) }}
            <div class="ui-slider span6" data-input="tracking-diet">
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Exercise</label>
        <div class="controls">
            {{ form.tracking.exercise(type="hidden", value=5) }}
            <div class="ui-slider span6" data-input="tracking-exercise">
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Floss</label>
        <div class="controls">
            {{ form.tracking.floss(type="hidden") }}
                <div class="toggle toggle-icon" data-input="tracking-floss">
                  <label class="toggle-radio fui-checkmark-16" for="toggleOption6"></label>
                  <input type="radio" name="toggleOptions3" id="toggleOption5" value="option5" checked="checked">
                  <label class="toggle-radio fui-cross-16" for="toggleOption5"></label>
                  <input type="radio" name="toggleOptions3" id="toggleOption6" value="option6">
                </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Meditate</label>
        <div class="controls">
            {{ form.tracking.meditation(type="hidden") }}
                <div class="toggle toggle-icon" data-input="tracking-meditation">
                  <label class="toggle-radio fui-checkmark-16" for="toggleOption8"></label>
                  <input type="radio" name="toggleOptions4" id="toggleOption7" value="option7" checked="checked">
                  <label class="toggle-radio fui-cross-16" for="toggleOption7"></label>
                  <input type="radio" name="toggleOptions4" id="toggleOption8" value="option8">
                </div>
        </div>
    </div>

                

    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Add Entry!">
        </div>
    </div>

          
</form>