<div class="row box">
	<p>{{post.note | markdown }}</p>
	<small class="pull-right muted">{{momentjs(post.timestamp).fromNow()}}</small>
	<ul class="stats-tabs">
		<li><span>{{post.weight}}<b>Weight</b></span></li>
		<li><span>{{post.happy}}<b>Happy</b></span></li>
		<li><span>{{post.diet}}<b>Diet</b></span></li>
		<li><span>{{post.exercise}}<b>Exercise</b></span></li>
		<li><span>{{post.floss}}<b>Floss</b></span></li>
		<li><span>{{post.meditation}}<b>Meditate</b></span></li>
	</ul>
	<div class="radar-container">
		<canvas class="radar-graph" data-id="{{ post.get_id() }}" width="250" height="250"></canvas>
	</div>
</div>